/* вторичный цвет текста #757575 */
/* акцент #2196F3  */
/* основной цвет текста #212121 */
/* BG вторичны   #F5F4FA */
/* BG основной #FFFFFF */
/* BG темный цвет  #2F303A */
/* цвет текста белый #FFFFFF */

/*  общие настройки */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --BGC-basic: #ffffff;
  --BGC-secondary: #f5f4fa;
  --BGC-black: #2f303a;
}

body {
  background: var(--BGC-basic);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
.section-title {
  /* color: var(--primary-text-color); */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.nav-list .link.current {
  position: relative;
  color: var(--accent-color);
}
.nav-list .link.current::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;

  bottom: 0;
  left: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* --- resset--- */
/* *,
*::before,
*::after {
  box-sizing: inherit;
} */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
img {
  display: block;
}
a {
  display: inline-block;
}

section {
  outline: 2px solid violet;
}
.d-flex {
  display: flex;
}

/*------ Пробні-------- */
/* .header {
}
.conteiner .logo {
  display: flex;
  margin-right: 93px;
}
.d-flex {
  display: flex;
  align-items: center;
}
.nav .list {
  display: flex;
}
.nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav .link + .link {
  margin-left: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}
.contact + .contact {
  margin-left: 30px;
} */

/* -----header----- */
/* .header {
  padding-top: 24px;
  padding-bottom: 25px;
} */
.header-flex {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
}
.logo {
  display: flex;

  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.nav > .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo {
  color: var(--accent-color);
}
.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}
.nav-list {
  display: flex;
}
.nav-link + .nav-link {
  margin-left: 50px;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.nav-list .link {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.header-contacts .link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact + .contact {
  margin-left: 40px;
}
.contact {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.header-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* ----- hero----- */

.hero {
  min-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--BGC-black);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/overley.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  max-width: 696px;
  /* width: 696px;
  height: 120px; */
  margin: 0 auto 30px auto;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
.btn-accent {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: inherit;
  cursor: pointer;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 20px;
  margin: auto;
  border-style: none;
}

/* ---- features--- */
.features {
  padding: 94px 0;
}
.features-list {
  display: flex;
}
.features-items + .features-items {
  margin-left: 30px;
}
.features-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.features-icon {
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.features-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* ---about---- */
.about {
  padding: 94px 0;
}
.about-list {
  display: flex;
  justify-content: space-between;
}
.about-item {
  position: relative;
}
.about-text {
  position: absolute;
  bottom: 0;

  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 110px;
  color: var(--white-text-color);
  background: rgba(47, 48, 58, 0.8);
}

/* --- teams--- */
.team {
  padding: 94px 0;
}
.team-list {
  display: flex;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-card:not(:first-child) {
  margin-left: 30px;
}

.card-picture {
  margin-bottom: 30px;
}
.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.card-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.soc-item {
  margin-bottom: 30px;
}
.soc-item + .soc-item {
  margin-left: 10px;
}

.soc-link {
  width: 44px;
  height: 44px;
  /* outline: 1px solid tomato; */
  border-radius: 50%;
  /* background-color: tomato; */
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.team-soc-icon {
  display: flex;
  fill: currentColor;
}
/* -----   Company------ */
.company {
  padding: 94px 0 94px 0;
}

.company-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-item + .company-item {
  margin-left: 30px;
}
.company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-link:hover,
.company-link:focus {
  color: var(--accent-color);
  border: 1px solid #2196f3;
}
.company-icon {
  fill: currentColor;
}

/* --- footer--- */
.footer {
  background-color: var(--BGC-black);
  color: var(--white-text-color);
  padding: 60px 0 60px 0;
}
.footer-flex {
  display: flex;
}

.footer-logo {
  display: flex;

  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-web {
  display: inline-block;
  color: var(--accent-color);
  margin-bottom: 28px;
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}
.footer-list {
}

.footer-link {
  margin-bottom: 12px;
}
.footer-list .address:hover,
.footer-list .address:focus {
  color: var(--accent-color);
}
.footer-list .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-list .address {
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sociali-foot {
  flex-direction: column;
  margin-left: 70px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
  margin-bottom: 20px;
  margin-top: 15px;
}

.soc-foot-list {
  display: flex;
}
.soc-foot-item {
}
.soc-foot-item + .soc-foot-item {
  margin-left: 10px;
}
.soc-foot-link {
  width: 44px;
  height: 44px;
  /* outline: 1px solid tomato; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-foot-link:hover,
.soc-foot-link:focus {
  background-color: var(--accent-color);
}
.soc-foot-icon {
  fill: currentColor;
}
/* ----- Portfolio------------ */

.filtr {
  margin-bottom: 50px;
  text-align: center;
}
.filtr-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  margin-right: 8px;
  border-style: none;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-btn:hover,
.filtr-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.filtr-btn--accent {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* -----project------ */
/* .projects {
  margin: 94px 0;
}

.box {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-right: -30px;
  margin-bottom: -30px;
} */
.project {
  /* display: flex;
  flex-direction: column; */
  /* flex-basis: calc(33.3333% - 33px); */
  /* flex-basis: calc(100% / 3 - 33px); */
  /* width: calc((100% - 30px) / 3); */

  /* flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px; */
}
/* .project-overley {
  position: relative;
} */
/* .project-top-text {
  position: absolute;
} */

/* .project:hover,
.project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box-wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-cart {
  margin-right: 0;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 8px;
}
.project-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
} */
/*  portfolio NEW */

.projects {
  padding: 94px 0;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.box-item {
  /* flex-basis: calc(100% / 3 - 30px); */
  margin-left: 30px;
  margin-bottom: 30px;
}
.box-item:hover .box-cover-text {
  transform: translateY(0);
}
.box-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-link:hover,
.box-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box-cover {
  position: relative;
  overflow: hidden;
}
.box-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-text-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-wraper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.box-wraper-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.box-wraper-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ----- modal----- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--BGC-basic);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
