/* вторичный цвет текста #757575 */
/* акцент #2196F3  */
/* основной цвет текста #212121 */
/* BG вторичны   #F5F4FA */
/* BG основной #FFFFFF */
/* BG темный цвет  #2F303A */
/* цвет текста белый #FFFFFF */

/*  общие настройки */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --BGC-basic: #ffffff;
  --BGC-secondary: #f5f4fa;
  --BGC-black: #2f303a;
}

body {
  background: var(--BGC-basic);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
.section-title {
  /* color: var(--primary-text-color); */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.nav-list .link.current {
  color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* --- resset--- */
/* *,
*::before,
*::after {
  box-sizing: inherit;
} */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
img {
  display: block;
}
a {
  display: inline-block;
}

section {
  outline: 2px solid violet;
}
.d-flex {
  display: flex;
}

/*------ Пробні-------- */
/* .header {
}
.conteiner .logo {
  display: flex;
  margin-right: 93px;
}
.d-flex {
  display: flex;
  align-items: center;
}
.nav .list {
  display: flex;
}
.nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav .link + .link {
  margin-left: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}
.contact + .contact {
  margin-left: 30px;
} */

/* -----header----- */
/* .header {
  padding-top: 24px;
  padding-bottom: 25px;
} */
.header-flex {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
}
.logo {
  display: flex;

  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.nav > .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo {
  color: var(--accent-color);
}
.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}
.nav-list {
  display: flex;
}
.nav-link + .nav-link {
  margin-left: 50px;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.nav-list .link {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 32px 0;
}
.header-contacts {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}
.header-contacts .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  padding: 32px 0;
}

/* .header-contacts.link ::before {
  content: '';
  width: 16px;
  height: 12px;
} */
.contact + .contact {
  margin-left: 40px;
}
.contact {
  margin-left: 40px;
}
.contact + .contart {
  margin-left: 40px;
}
/* .contact::before {
  content: '';
  width: 16px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
  outline: 1px solid tomato;
} */
.header-contacts-icon {
}

/* ----- hero----- */

.hero {
  min-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--BGC-black);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/overley.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  max-width: 696px;
  /* width: 696px;
  height: 120px; */
  margin: 0 auto 30px auto;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
.btn-accent {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: inherit;
  cursor: pointer;
  /* align-items: center;
  text-align: center; */
}

/* ---- features--- */
.features {
  padding: 94px 0;
}
.features-list {
  display: flex;
}
.features-items + .features-items {
  margin-left: 30px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.features-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* ---about---- */
.about {
  padding: 94px 0;
}
.about-list {
  display: flex;
  justify-content: space-between;
}
.about-item {
}

/* --- teams--- */
.team {
  padding: 94px 0;
}
.team-list {
  display: flex;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-card:not(:first-child) {
  margin-left: 30px;
}

.card-picture {
  margin-bottom: 30px;
}
.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.card-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.soc-item {
  margin-bottom: 30px;
}
.soc-item + .soc-item {
  margin-left: 10px;
}

.soc-link {
  width: 44px;
  height: 44px;
  /* outline: 1px solid tomato; */
  border-radius: 50%;
  /* background-color: tomato; */
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.team-soc-icon {
  display: flex;
  fill: currentColor;
}
/* -----   Company------ */
.company {
  padding: 94px 0 94px 0;
}

.company-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-item + .company-item {
  margin-left: 30px;
}
.company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.company-link:hover,
.company-link:focus {
  color: var(--accent-color);
  border: 1px solid #2196f3;
}
.company-icon {
  fill: currentColor;
}

/* --- footer--- */
.footer {
  background-color: var(--BGC-black);
  color: var(--white-text-color);
  padding: 60px 0 60px 0;
}
.footer-flex {
  display: flex;
}

.footer-logo {
  display: flex;

  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-web {
  display: inline-block;
  color: var(--accent-color);
  margin-bottom: 28px;
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}
.footer-list {
}

.footer-link {
  margin-bottom: 12px;
}
.footer-list .address:hover,
.footer-list .address:focus {
  color: var(--accent-color);
}
.footer-list .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-list .address {
  color: var(--white-text-color);
}

.sociali-foot {
  flex-direction: column;
  margin-left: 70px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
  margin-bottom: 20px;
  margin-top: 15px;
}

.soc-foot-list {
  display: flex;
}
.soc-foot-item {
}
.soc-foot-item + .soc-foot-item {
  margin-left: 10px;
}
.soc-foot-link {
  width: 44px;
  height: 44px;
  /* outline: 1px solid tomato; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.soc-foot-link:hover {
  background-color: var(--accent-color);
}
.soc-foot-icon {
  fill: currentColor;
}
/* ----- Portfolio------------ */

.filtr {
  margin-bottom: 50px;
  text-align: center;
}
.filtr-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  margin-right: 8px;
}
.filtr-btn:hover,
.filtr-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.filtr-btn--accent {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* -----project------ */
.projects {
  margin: 94px 0;
}
.box {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.project {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3 - 30px);
  /* width: calc((100% - 30px) / 3); */
  margin-right: 30px;
  margin-bottom: 30px;
}

/* .box-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.project-cart {
  display: flex;
  margin-bottom: 20px;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 8px;
}
.project-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
