:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --BGC-basic: #ffffff;
  --BGC-secondary: #f5f4fa;
  --BGC-black: #2f303a;
}
